<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.salem.domain.Mapper.SitterMapper">
	
	<!-- <select id="showAllSitters" resultType="SitterVO">
		SELECT 
			sitterNo, sittingType, sitterEmail, sitterName,  
			sitterAddress, sitterImg1, sitterImg2, sitterImg3, sitterImg4, 
			sitterImg5, possibleDay, sitterGender, sitterAge, profileTitle, profile, petProfile, 
			approvalStatus
		FROM sitter
		JOIN sitting_type AS type
		WHERE sitter.sittingNo = type.sittingNo;
	</select> -->
	
	<select id="showSitterDetail" resultType="SitterVO" parameterType="int">
		SELECT 
			sitterNo, sittingType, sitterEmail, sitterName, sitterPw, sitterPhone, 
			sitterAddress, sitterImg1, sitterImg2, sitterImg3, sitterImg4, 
			sitterImg5, possibleDay, sitterGender, sitterAge, profileTitle, profile, petProfile, 
			identityCheck, qualificationCheck, approvalStatus, approvalDate, lat, lng
		FROM sitter
		JOIN sitting_type AS type
		ON (sitter.sittingNo = type.sittingNo)
		WHERE sitterNo=#{sitterNo}
	</select>
	
	<select id="showDaySitters" resultType="SitterVO">
		SELECT 
			sitterNo, sittingType, sitterEmail, sitterName,  
			sitterAddress, sitterImg1, sitterImg2, sitterImg3, sitterImg4, 
			sitterImg5, possibleDay, sitterGender, sitterAge, profileTitle, profile, petProfile, 
			approvalStatus
		FROM sitter
		JOIN sitting_type AS type
		ON (sitter.sittingNo = type.sittingNo)
		WHERE sittingType = 'daycare' AND approvalStatus = '1'; 
	</select>
	
	<select id="showHomeSitters" resultType="SitterVO">
		SELECT 
			sitterNo, sittingType, sitterEmail, sitterName,  
			sitterAddress, sitterImg1, sitterImg2, sitterImg3, sitterImg4, 
			sitterImg5, possibleDay, sitterGender, sitterAge, profileTitle, profile, petProfile, 
			approvalStatus
		FROM sitter
		JOIN sitting_type AS type
		ON (sitter.sittingNo = type.sittingNo)
		WHERE sittingType = 'home' AND approvalStatus = '1'; 
	</select>
	
	<update id="updateSitterProfile" parameterType="SitterVO">
		UPDATE sitter 
		SET profileTitle=#{profileTitle}, profile=#{profile}, petProfile=#{petProfile}
		WHERE sitterEmail=#{sitterEmail}
	</update>
	
	<update id="updateSitterInfo" parameterType="SitterVO">
		UPDATE sitter 
		SET sitterName=#{sitterName}, sitterEmail=#{sitterEmail}, sitterPw=#{sitterPw},
			sitterPhone=#{sitterPhone}, sitterAddress=#{sitterAddress}, lat=#{lat},lng=#{lng}
		WHERE sitterEmail=#{sitterEmail}
	</update>
	
	<select id="showDaySitterByAddress" resultType="SitterVO" parameterType="String">
		SELECT 
			sitterNo, sittingType, sitterEmail, sitterName,  
			sitterAddress, sitterImg1, sitterImg2, sitterImg3, sitterImg4, 
			sitterImg5, possibleDay, sitterGender, sitterAge, profileTitle, profile, petProfile, 
			approvalStatus
		FROM sitter
		JOIN sitting_type AS type
		ON (sitter.sittingNo = type.sittingNo)
		WHERE sittingType = 'daycare' AND sitterAddress like CONCAT('%', #{area}, '%') AND approvalStatus = '1';
	</select>
	
	<select id="showHomeSitterByAddress" resultType="SitterVO" parameterType="String">
		SELECT 
			sitterNo, sittingType, sitterEmail, sitterName,  
			sitterAddress, sitterImg1, sitterImg2, sitterImg3, sitterImg4, 
			sitterImg5, possibleDay, sitterGender, sitterAge, profileTitle, profile, petProfile, 
			approvalStatus
		FROM sitter
		JOIN sitting_type AS type
		ON (sitter.sittingNo = type.sittingNo)
		WHERE sittingType = 'home' AND sitterAddress like CONCAT('%', #{area}, '%') AND approvalStatus = '1';
	</select>

	<select id="showDaySitterByDate" resultType="SitterVO" parameterType="String">
		SELECT sitterNo, sittingType, sitterEmail, sitterName,  
			sitterAddress, sitterImg1, sitterImg2, sitterImg3, sitterImg4, 
			sitterImg5, possibleDay, sitterGender, sitterAge, profileTitle, profile, petProfile, 
			approvalStatus
		FROM SITTER s JOIN SITTING_TYPE t ON s.sittingNo = t.sittingNo
		WHERE NOT EXISTS (
   			SELECT 1 
   			FROM PAYMENT p  
   			WHERE p.sitterNo = s.sitterNo AND startTime like CONCAT('%', #{date}, '%')) 
		AND sittingType='daycare'
   		AND approvalStatus = '1';
	</select>

	

	
</mapper>
